.rezerv__area {
  margin: 20px 0 0 0;
  width: 100%;
  order: 90;
}

.rezervBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 10px;
  cursor: pointer;
  color: #fff;
  background: var(--x1greyLight);
}

.rezervBtn_inReserv {
  background: var(--redFill);
}

.rezervNo {
  display: block;
}

.rezervYes {
  display: none;
}

.simpleReg__area {
  width: 100%;
  order: 95;
}

.simpleReg {
  margin: 20px 0 0 0;
}

#simpleReg__readPhone {
  margin: 0 0 10px 0;
}

#simpleReg__readPass {
  margin: 0 0 10px 0;
}

#simpleReg__readSmsCode {
  margin: 0 0 10px 0;
}

.simpleReg__readPhoneSubmit {
}
