@media only screen and (max-width: 1280px) {
  .w1 {
    padding: 0 10px 0 10px;
  }
  .title1 {
    padding: 0.5rem 0.625rem;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .gallery__item {
    width: 25%;
  }
  .toTop {
    z-index: 2600;
    position: fixed;
    left: auto;
    right: 10px;
    bottom: 40px;
    background: #be3f46;
  }
}

@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 12px;
  }
  .gallery__item {
    width: 33.333%;
  }
  .indexShopCardTitle h2 {
    font-size: 1.375rem;
  }
  .indexInfo__inner span {
    font-size: 0.875rem;
  }
  .xBlock__area {
    padding: 0.625rem 0;
  }
}

@media only screen and (max-width: 480px) {
  /* .w1 {
    padding: 0 5px 0 5px;
  } */
  .title1 {
    padding: 0.3125rem 0.3125rem;
  }
  .videoBox__outer {
    width: 100%;
  }
  .gallery__item {
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .indexShopCardTitle h2 {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 320px) {
}
