mixin menuButton1
  .menuButton1__area.menuButton1__areaJS.am__JS
    .menuButton1
      span
      span
      span

mixin adaptiveMenuArs
  .am__area 
    .am.am_back
      .am__header
        .am__title
          span Женщинам 2
        .am__close
          i.icon-close1
      .am__body
        .am__item.hasInner
          .am__itemTitle Одежда
          .am__itemCount 320
          .am__more Подробнее...
        .am__item
          .am__itemTitle Обувь
          .am__itemCount 250
        .am__item.hasInner
          .am__itemTitle Аксессуары
          .am__itemCount 640
          .am__more Подробнее...
        .am__item
          .am__itemTitle Красота
          .am__itemCount 120
        .am__item
          .am__itemTitle Спорт
          .am__itemCount 440
    .am.am_back
      .am__header
        .am__BackBtn
          i.icon-arr-left1
          span назад
        .am__title
          span Женщинам 1
        .am__close
          i.icon-close1
      .am__body
        .am__item.hasInner
          .am__itemTitle Одежда
          .am__itemCount 320
          .am__more Подробнее...
        .am__item
          .am__itemTitle Обувь
          .am__itemCount 250
        .am__item.hasInner
          .am__itemTitle Аксессуары
          .am__itemCount 640
          .am__more Подробнее...
        .am__item
          .am__itemTitle Красота
          .am__itemCount 120
        .am__item
          .am__itemTitle Спорт
          .am__itemCount 440
    .am.am_back
      .am__header
        .am__BackBtn
          i.icon-arr-left1
          span назад
        .am__title
          span Женщинам
        .am__close
          i.icon-close1
      .am__body
        .am__item.hasInner
          .am__itemTitle Одежда
          .am__itemCount 320
          .am__more Подробнее...
        .am__item
          .am__itemTitle Обувь
          .am__itemCount 250
        .am__item.hasInner
          .am__itemTitle Аксессуары
          .am__itemCount 640
          .am__more Подробнее...
        .am__item
          .am__itemTitle Красота
          .am__itemCount 120
        .am__item
          .am__itemTitle Спорт
          .am__itemCount 440
    .am.am_active
      .am__header
        .am__BackBtn
          i.icon-arr-left1
          span назад
        .am__title
          span Одежда
        .am__close
          i.icon-close1
      .am__body
        .am__item
          .am__itemTitle Блузы и рубашки
          .am__itemCount 32
        .am__item
          .am__itemTitle Брюки
          .am__itemCount 25
        .am__item.hasInner
          .am__itemTitle Верхняя одежда
          .am__itemCount 64
          .am__more Подробнее...
        .am__item
          .am__itemTitle Нижнее белье
          .am__itemCount 12
        .am__item
          .am__itemTitle Платья и сарафаны
          .am__itemCount 44
        .am__item
          .am__itemTitle Спортивные костюмы
          .am__itemCount 54
        .am__item
          .am__itemTitle Толстовки и свитшоты
          .am__itemCount 63
        .am__item
          .am__itemTitle Футболки и поло
          .am__itemCount 55
    .am.am_next
      .am__header
        .am__BackBtn
          i.icon-arr-left1
          span назад
        .am__title
          span Женщинам
        .am__close
          i.icon-close1
      .am__body
        .am__item
          .am__itemTitle Ветровка
          .am__itemCount 5
        .am__item.hasInner
          .am__itemTitle Жилет
          .am__itemCount 2
          .am__more Подробнее...
        .am__item
          .am__itemTitle Куртка
          .am__itemCount 10
        .am__item
          .am__itemTitle Пальто
          .am__itemCount 3
        .am__item
          .am__itemTitle Парка
          .am__itemCount 8
    .am.am_next
      .am__header
        .am__BackBtn
          i.icon-arr-left1
          span назад
        .am__title
          span Женщинам +1
        .am__close
          i.icon-close1
      .am__body
        .am__item
          .am__itemTitle Ветровка
          .am__itemCount 5
        .am__item.hasInner
          .am__itemTitle Жилет
          .am__itemCount 2
          .am__more Подробнее...
        .am__item
          .am__itemTitle Куртка
          .am__itemCount 10
        .am__item
          .am__itemTitle Пальто
          .am__itemCount 3
        .am__item
          .am__itemTitle Парка
          .am__itemCount 8
    .am.am_next
      .am__header
        .am__BackBtn
          i.icon-arr-left1
          span назад
        .am__title
          span Женщинам +2
        .am__close
          i.icon-close1
      .am__body
        .am__item
          .am__itemTitle Ветровка
          .am__itemCount 5
        .am__item
          .am__itemTitle Жилет
          .am__itemCount 2
        .am__item
          .am__itemTitle Куртка
          .am__itemCount 10
        .am__item
          .am__itemTitle Пальто
          .am__itemCount 3
        .am__item
          .am__itemTitle Парка
          .am__itemCount 8