mixin brand
  .brand__area.w0
    .w1
      .brand__title
        .brand__logo
          img(src="assets/img/vendor/birba/birba.svg", alt="")
        .brand__intro
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor quo ratione voluptatibus dicta pariatur possimus eaque illum omnis fugiat rem?
