mixin cart
  .xBlock__area.w0
    .xBlock.w1
      .title
        h1 Корзина
      //- .content
      //-   p
      //-     | Ваша корзина пуста, добавьте товары!
      .orderCart__area
        .orderCart
          .orderCart__row.orderCart__rowHeader
            .orderCart__item.orderCart__itemTD10 Артикул
            .orderCart__item.orderCart__itemTD20 Фото
            .orderCart__item.orderCart__itemTD30 Наименование товара
            .orderCart__item.orderCart__itemTD40 Характеристики
            .orderCart__item.orderCart__itemTD50 Акции
            .orderCart__item.orderCart__itemTD60 Количество
            .orderCart__item.orderCart__itemTD70 Цена
            .orderCart__item.orderCart__itemTD80 Удалить
          .orderCart__row
            .orderCart__item.orderCart__itemTD10 12259876
            .orderCart__item.orderCart__itemTD20
              img(src='assets/img/tovar/001.jpeg', alt='')
            .orderCart__item.orderCart__itemTD30
              a(href='#') Сабо женские классические Salvador
            .orderCart__item.orderCart__itemTD40
              .orderCart__descItem
                span.orderCart__descItemTitle Размер:
                span.orderCart__descItemInfo XXL
              .orderCart__descItem
                span.orderCart__descItemTitle Цвет:
                span.orderCart__descItemInfo Белый
              .orderCart__descItem
                span.orderCart__descItemTitle Пол:
                span.orderCart__descItemInfo Женский
              .orderCart__descItem
                span.orderCart__descItemTitle Вес:
                span.orderCart__descItemInfo 170 гр.
              .orderCart__descItem
                span.orderCart__descItemTitle Сезон:
                span.orderCart__descItemInfo Лето
            .orderCart__item.orderCart__itemTD50
              .orderCart__itemIcons
                .orderCart__itemIcon.tovarCard__icon_sale -25%
                .orderCart__itemIcon.tovarCard__icon_new NEW
                .orderCart__itemIcon.tovarCard__icon_hit ХИТ
            .orderCart__item.orderCart__itemTD60
              .number
                button.minus -
                input.cartCountInput(type='text', name='count', value='1')
                button.plus +
            .orderCart__item.orderCart__itemTD70
              .orderCart__priceArea
                .orderCart__oldPrice 1800 руб
                .orderCart__price 1500 руб
            .orderCart__item.orderCart__itemTD80
              .orderCart__delete(title='Удалить товар из корзины')
                i.icon-close1
          .orderCart__row
            .orderCart__item.orderCart__itemTD10 12259876
            .orderCart__item.orderCart__itemTD20
              img(src='assets/img/tovar/002.jpeg', alt='')
            .orderCart__item.orderCart__itemTD30
              a(href='#') Сабо женские классические Salvador
            .orderCart__item.orderCart__itemTD40
              .orderCart__descItem
                span.orderCart__descItemTitle Размер:
                span.orderCart__descItemInfo XXL
              .orderCart__descItem
                span.orderCart__descItemTitle Цвет:
                span.orderCart__descItemInfo Белый
              .orderCart__descItem
                span.orderCart__descItemTitle Пол:
                span.orderCart__descItemInfo Женский
              .orderCart__descItem
                span.orderCart__descItemTitle Вес:
                span.orderCart__descItemInfo 170 гр.
              .orderCart__descItem
                span.orderCart__descItemTitle Сезон:
                span.orderCart__descItemInfo Лето
            .orderCart__item.orderCart__itemTD50
              .orderCart__itemIcons
                .orderCart__itemIcon.tovarCard__icon_sale -25%
                .orderCart__itemIcon.tovarCard__icon_new NEW
                .orderCart__itemIcon.tovarCard__icon_hit ХИТ
            .orderCart__item.orderCart__itemTD60
              .number
                button.minus -
                input.cartCountInput(type='text', name='count', value='1')
                button.plus +
            .orderCart__item.orderCart__itemTD70
              .orderCart__priceArea
                .orderCart__oldPrice 1800 руб
                .orderCart__price 1500 руб
            .orderCart__item.orderCart__itemTD80
              .orderCart__delete(title='Удалить товар из корзины')
                i.icon-close1
          .orderCart__row
            .orderCart__item.orderCart__itemTD10 12259876
            .orderCart__item.orderCart__itemTD20
              img(src='assets/img/tovar/003.jpeg', alt='')
            .orderCart__item.orderCart__itemTD30
              a(href='#') Сабо женские классические Salvador
            .orderCart__item.orderCart__itemTD40
              .orderCart__descItem
                span.orderCart__descItemTitle Размер:
                span.orderCart__descItemInfo XXL
              .orderCart__descItem
                span.orderCart__descItemTitle Цвет:
                span.orderCart__descItemInfo Белый
              .orderCart__descItem
                span.orderCart__descItemTitle Пол:
                span.orderCart__descItemInfo Женский
              .orderCart__descItem
                span.orderCart__descItemTitle Вес:
                span.orderCart__descItemInfo 170 гр.
              .orderCart__descItem
                span.orderCart__descItemTitle Сезон:
                span.orderCart__descItemInfo Лето
            .orderCart__item.orderCart__itemTD50
              .orderCart__itemIcons
                .orderCart__itemIcon.tovarCard__icon_sale -25%
                .orderCart__itemIcon.tovarCard__icon_new NEW
                .orderCart__itemIcon.tovarCard__icon_hit ХИТ
            .orderCart__item.orderCart__itemTD60
              .number
                button.minus -
                input.cartCountInput(type='text', name='count', value='1')
                button.plus +
            .orderCart__item.orderCart__itemTD70
              .orderCart__priceArea
                .orderCart__oldPrice 1800 руб
                .orderCart__price 1500 руб
            .orderCart__item.orderCart__itemTD80
              .orderCart__delete(title='Удалить товар из корзины')
                i.icon-close1
          .orderCart__row
            .orderCart__item.orderCart__itemTD10 12259876
            .orderCart__item.orderCart__itemTD20
              img(src='assets/img/tovar/004.jpeg', alt='')
            .orderCart__item.orderCart__itemTD30
              a(href='#') Сабо женские классические Salvador
            .orderCart__item.orderCart__itemTD40
              .orderCart__descItem
                span.orderCart__descItemTitle Размер:
                span.orderCart__descItemInfo XXL
              .orderCart__descItem
                span.orderCart__descItemTitle Цвет:
                span.orderCart__descItemInfo Белый
              .orderCart__descItem
                span.orderCart__descItemTitle Пол:
                span.orderCart__descItemInfo Женский
              .orderCart__descItem
                span.orderCart__descItemTitle Вес:
                span.orderCart__descItemInfo 170 гр.
              .orderCart__descItem
                span.orderCart__descItemTitle Сезон:
                span.orderCart__descItemInfo Лето
            .orderCart__item.orderCart__itemTD50
              .orderCart__itemIcons
                .orderCart__itemIcon.tovarCard__icon_sale -25%
                .orderCart__itemIcon.tovarCard__icon_new NEW
                .orderCart__itemIcon.tovarCard__icon_hit ХИТ
            .orderCart__item.orderCart__itemTD60
              .number
                button.minus -
                input.cartCountInput(type='text', name='count', value='1')
                button.plus +
            .orderCart__item.orderCart__itemTD70
              .orderCart__priceArea
                .orderCart__oldPrice 1800 руб
                .orderCart__price 1500 руб
            .orderCart__item.orderCart__itemTD80
              .orderCart__delete(title='Удалить товар из корзины')
                i.icon-close1
        .orderCart__total
          span.orderCart__totalTitle Итого: 
          span.orderCart__totalCount 5
          span.orderCart__totalCountTitle товаров
          span.orderCart__totalPriceTitle на сумму: 
          span.orderCart__totalPrice 12500 руб.
      .orderForm__wrapper
        h2 Оформление заказа
        form.orderForm__area(action='#')
          .inputBox
            label(for='formGroupExampleInput') Ваше имя
            input#formGroupExampleInput(type='text', placeholder='')
          .inputBox
            label(for='formGroupExampleInput2') Ваш телефон
            input#formGroupExampleInput2(type='text', placeholder='')
          .inputBox
            label(for='formGroupExampleInput3') Ваш email
            input#formGroupExampleInput3(type='text', placeholder='')
          h3 Варианты доставки:

          .radioBox__wrapper
            .radioBox
              input#customRadio1(type='radio', name='customRadio')
              label(for='customRadio1') Самовывоз
            .radioBox
              input#customRadio2(type='radio', name='customRadio')
              label(for='customRadio2') Доставка
          h3 Варианты оплаты:
          .radioBox__wrapper
            .radioBox
              input#customRadio3(type='radio', name='customRadio2')
              label(for='customRadio3') Наличными
            .radioBox
              input#customRadio4(type='radio', name='customRadio2')
              label(for='customRadio4') Банковской картой
          h3 Дополнительная информация:
          .inputBox
            label(for='exampleFormControlTextarea1') Уточните важные для Вас моменты
            textarea#exampleFormControlTextarea1.form-control(rows='3')
      .orderCart__total
        span.orderCart__totalTitle Итого: 
        span.orderCart__totalCount 5
        span.orderCart__totalCountTitle товаров
        span.orderCart__totalPriceTitle на сумму: 
        span.orderCart__totalPrice 12500 руб.
      button.orderForm__orderBtn(type='button')
        i.icon-cart1
        span Заказать
