mixin m1_catalog
  .m1_catalog__area.w0
    .m1_catalog__outer.w1
      .m1_catalog
        .m1_catalog__itemOuter
          a.m1_catalog__item(href="#") Женщинам
        .m1_catalog__itemOuter
          a.m1_catalog__item(href="#") Мужчинам
        .m1_catalog__itemOuter
          a.m1_catalog__item(href="#") Детям
        .m1_catalog__itemOuter
          a.m1_catalog__item(href="#") Красота
