- var pageTitle = 'Текстовая страница'

include __head
include __header
include __breadcrumbs
include __textInContent
include __footer
include __scripts

<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    +header

  .site__center
    .content.w1.
      h1 Пользовательское соглашение
      .wideRow
        p г. Саратов 
        span "___"________ ___ г.
      p Настоящее Соглашение является публичной офертой и определяет условия использования материалов и сервисов, размещенных на сайте в сети Интернет по адресу: www.____________________________________________, посетителями и  пользователями данного интернет-сайта (далее - Сайт).
      p
        strong 1. Общие условия
      p 1.1 Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту Интернет-магазина «________________», расположенному по адресу: www.__________________, и ко всем соответствующим сайтам, связанным с сайтом www.___________________________.
      p 1.2. Сайт Интернет-магазина «____________» (далее – Сайт) является собственностью ООО «___________»
      p 1.3. Настоящее Соглашение регулирует отношения между Администрацией сайта Интернет-магазина «___________________» (далее – Администрация сайта) и Пользователем данного Сайта.
      p 1.4. Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя. Такие изменения вступают в силу по истечение 3 (трёх) дней с момента размещения новой версии соглашения на сайте. При несогласии Пользователя с внеcёнными изменениями он обязан отказаться от доступа к сайту и прекратить использование материалов и сервисов Сайта.
      p 1.5. Администрация сайта имеет право в любое время без уведомления Пользователя вносить изменения в перечень Товаров и услуг, предлагаемых на Сайте, и (или) в цены, применимые к таким Товарам по их реализации и (или) оказываемым услугам Интернет-магазина.
      p 1.6. Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внeсeнных в настоящее Соглашение.
      p 1.7. Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.
      p 1.8. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
      p 1.9. Для получения доступа к материалам Сайта Пользователю необходимо выполнить следующие действия:
      ul
        li заполнить регистрационную форму с указанием номера мобильного телефона или адреса электронной почты. Будет произведена проверка принадлежности номера телефона или адреса почты путем отправки сообщения с кодом, который потребуется ввести в форму регистрации.
        li принять и подписать согласие на обработку персональных данных (Политика конфиденциальности интернет-магазина).
      p 1.9. Настоящее соглашение не является публичной офертой и носит ознакомительных характер. Получая доступ к материалам Сайта, Пользователь считается присоединившимся к настоящему Соглашению.
      p 1.10. Пользователю предоставлены следующие виды услуг:
      ul
        li доступ к электронному контенту на бесплатной основе, с правом просмотра контента;
        li доступ к средствам поиска и навигации Интернет-магазина;
        li предоставление Пользователю возможности размещения сообщений, комментариев, рецензий Пользователей, выставления оценок контенту Интернет-магазина;??????????????????
        li доступ к информации о Товаре и к информации о приобретении Товара на бесплатной (платной) основе????????????;
        li иные виды услуг (сервисов), реализуемые на страницах Интернет-ресурса, включая платные услуги (сервисы).
      p  
      p
        strong 2. Обязательства Пользователя
      p 2.1. Пользователь соглашается не предпринимать действий и не оставлять комментарии и записи, которые могут рассматриваться как нарушающие российское законодательство или нормы междyнародного права, в том числе в сфере интеллектyальной собственности, авторских и/или смежных прав, общепринятые нормы морали и нравственности, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.
      p 2.2. Использование материалов Сайта без согласия правообладателей не допускается. Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателя.
      p 2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 п.1 ст. 1274 ГК РФ).
      p 2.4. Пользователь предупрежден, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на Сайте.
      p 2.5. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
      p 2.6. Пользователь принимает положение о том, что все материалы и сервисы сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.
      p  
      p
        strong 3. Прочие условия
      p 3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.
      p 3.2. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.
      p 3.3. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта, которые могут выражаться в _________________________.
      p 3.4. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении _____ (__________) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.
      p 3.5. Администрация не несет ответственности за неисполнение или ненадлежащее исполнение заказа в результате программного сбоя на Сайте.
      p 3.6. Переходя по ссылке _________________________________ (или: указать иное действие на пример поставить галочку), Пользователь подтверждает, что ознакомлен и принимает все условия настоящего Соглашения, а также Политики конфиденциальности Сайта, являющейся неотъемлемой частью настоящего Соглашения и размещенной на странице по адресу: www.________________________.
  .site__footer
    +footer

  +scripts